* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}
.container {
    width: 600px;
    padding: 10px;
    background-color: #111;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    position: relative;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}
.navbar ul li {
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.navbar ul li:hover {
    color: #bbb;
}
label {
    cursor: pointer;
}
input {
    display: none;
}
.content {
    padding: 20px;
    background-color: #111;
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}
/* Active page */
#page1:checked ~ .Page1,
#page2:checked ~ .Page2,
#page3:checked ~ .Page3,
#page4:checked ~ .Page4 {
    opacity: 1;
    visibility: visible;
}
/* Active tab */
#page1:checked ~ .navbar ul #tab1,
#page2:checked ~ .navbar ul #tab2,
#page3:checked ~ .navbar ul #tab3,
#page4:checked ~ .navbar ul #tab4 {
    background-color: white;
    color: black;
    border-radius: 5px;
    font-weight: bold;
}